.container {
  font-family: monospace;
}

.posts li {
  border: 1px solid #eee;
  padding: 1rem;
  max-width: 80%;
  font-size: 1rem;
}

.pagination ul>li {
  display: inline-block;
  margin: 1rem 0;
}

.pagination a {
  padding: 8px 33px;
  text-decoration: none;
  border: 1px solid #ddd;
  
}

.pagination a:hover {
  transition: ease-in-out 0.25s;
  background-color: #4CAF50;
  color: white;
}

.pagination a:focus {
  background-color: #4CAF50;
  color: white;
}
